TODO.txt

# --- Frontend (Electron/Node) ---
frontend/node_modules/
frontend/dist/
frontend/out/

# --- Backend (C++ Visual Studio) ---
.vs/
*.user
*.aps
*.suo
*.db
x64/
getSpace-backend/getSpace-backend/data.log
build/
data.log
getSpace-backend.exe